# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v3 declaration cache
*.tsbuildinfo

# Build outputs
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# IDEs and editors
.vscode/*
!.vscode/extensions.json
.idea
.shorthand_google.js
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
